.create-form {
    margin: 0px auto;
    box-shadow: 1px 1px 3px 5px rgb(225, 224, 224);
    padding: 25px;
    margin-top: 30px;
    max-height: 350px;
}
.label{
    font-size: 18px;
}
.input{
    padding: 8px;
    outline: none;
    border: 1px solid black;
    border-radius: 8px;
    margin: 3px 0px 3px 0px;
}